<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="10" name="Suite" parallel="tests">
  <test name="firefoxTest">
  <parameter name="sBrowser" value="firefox"></parameter>
    <classes>
      <class name="com.script.Test5"/>
      <class name="com.script.Test3"/>
      <class name="com.script.Test2"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
